.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.slider .slick-arrow {
  position: absolute;
  top: 47%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 0;
}
